<div class="modal">
    <div class="modal-content">
      <h2>Crear Proyecto</h2>
      <form (ngSubmit)="crearProyecto()">
        <div class="form-group">
          <label for="idProyecto">ID del Proyecto:</label>
          <input
            type="text"
            id="idProyecto"
            [(ngModel)]="proyecto.idProyecto"
            name="idProyecto"
            required
          />
        </div>
        <div class="form-group">
          <label for="nombreProyecto">Nombre del Proyecto:</label>
          <input
            type="text"
            id="nombreProyecto"
            [(ngModel)]="proyecto.nombreProyecto"
            name="nombreProyecto"
            required
          />
        </div>
        <div class="form-group">
          <label for="fechaInicio">Fecha de Inicio:</label>
          <input
            type="date"
            id="fechaInicio"
            [(ngModel)]="proyecto.fechaInicio"
            name="fechaInicio"
            required
          />
        </div>
        <div class="form-group">
          <label for="fechaFin">Fecha de Fin:</label>
          <input
            type="date"
            id="fechaFin"
            [(ngModel)]="proyecto.fechaFin"
            name="fechaFin"
            required
          />
        </div>
        <div class="form-group">
          <label for="idEstado">Estado:</label>
          <select
            type="number"
            id="idEstado"
            [(ngModel)]="proyecto.idEstado"
            name="idEstado"
            required
          >
            <option value=1>Pendiente</option>
            <option value=2>En Proceso</option>
            <option value=3>Finalizado</option>
          </select>
        </div>
        <button type="submit" class="submit-button" [disabled]="disabled">Guardar Proyecto</button>
      </form>
    </div>
  </div>
  
