<div class="gestion-proyecto-container">
    <div class="header">
      <h1 class="title">Gestión de Proyectos</h1>
      <button class="create-button" (click)="crearProyecto()">Crear Proyecto</button>
    </div>
  
    <div *ngIf="ListProyectos?.length > 0; else noProjects">
      <ul class="proyectos-list">
        <li *ngFor="let proyecto of ListProyectos" class="proyecto-item">
          <div class="proyecto-card">
            <h2>{{ proyecto.nombreProyecto }}</h2>
            <p><strong>Identificación:</strong> {{ proyecto.idProyecto }}</p>
            <p><strong>Fecha de inicio:</strong> {{ proyecto.fechaInicio }}</p>
            <p><strong>Fecha de finalización:</strong> {{ proyecto.fechaFin }}</p>
            <p><strong>Estado:</strong> {{ proyecto.idEstado }}</p>
            <div class="buttons">
              <button class="update-button" (click)="actualizarProyecto(proyecto.idProyecto)">Actualizar</button>
              <button class="delete-button" (click)="eliminarProyecto(proyecto.idProyecto)">Eliminar</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  
    <ng-template #noProjects>
      <p class="no-projects-message">No hay proyectos disponibles para mostrar.</p>
    </ng-template>
  </div>
  
