<div class="contenedor-padre">
  <div class="contenedor"></div>
  <div class="contenedor-mitad">
    <div class="contenedor-logo">
      <img src="/imagenes/logo.png" alt="">
    </div>
    <div class="contenedor-login">
      <div class="contenedor-prelogin">
        <div class="titulo-user">
          <h3>Identifique su usuario</h3>
        </div>
        <div class="contenedor-botones">
          <button class="btn-sesioncli" (click)="obtenerlogincli()">Cliente</button>
          <button class="btn-sesionemp" (click)="obtenerloginemp()">Empleado</button>
        </div>
        <div class="contenedor-botones2">

        </div>
      </div>
    </div>
  </div>
</div>
