<div class="container mt-5" *ngIf="equipo">
    <div class="card border-warning">
        <div class="card-header bg-warning">
            <h2>Detalles del Equipo</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>ID:</strong> {{ equipo.idEquipo }}</p>
                    <p><strong>Nombre:</strong> {{ equipo.nombre }}</p>
                    <p><strong>Tipo:</strong> {{ equipo.tipo }}</p>
                    <p><strong>Marca:</strong> {{ equipo.marca }}</p>
                    <p><strong>Modelo:</strong> {{ equipo.modelo }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Número de Serie:</strong> {{ equipo.serie }}</p>
                    <p><strong>Fecha de Adquisición:</strong> {{ equipo.fechaAdquisicion | date }}</p>
                    <p><strong>Estado:</strong> {{ equipo.estado }}</p>
                    <p><strong>Ubicación:</strong> {{ equipo.ubicacion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Frecuencia de Mantenimiento:</strong> {{ equipo.frecuencia }}</p>
                    <p><strong>Descripción:</strong> {{ equipo.descripcion }}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Última Revisión:</strong> {{ equipo.ultimaRevision | date }}</p>
                    <p><strong>Próxima Revisión:</strong> {{ equipo.proximaRevision | date }}</p>
                </div>
            </div>
            <button class="btn btn-warning" (click)="volver()">Volver</button>
        </div>
    </div>
</div>

<!-- Botón para abrir el modal -->
<!--<button class="btn btn-danger" (click)="abrirModal()">Reportar Falla</button>-->

<!-- Modal -->
<div class="modal" *ngIf="modalAbierto">
    <div class="modal-content">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <h5>Reportar Falla</h5>
        <form (ngSubmit)="reportarFalla()">
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción de la Falla</label>
                <textarea id="descripcion" class="form-control" [(ngModel)]="falla.descripcion" name="descripcion"
                    required></textarea>
            </div>
            <div class="mb-3">
                <label for="urgencia" class="form-label">Urgencia</label>
                <select id="urgencia" class="form-select" [(ngModel)]="falla.urgencia" name="urgencia" required>
                    <option value="A">Alta</option>
                    <option value="B">Media</option>
                    <option value="C">Baja</option>
                </select>
            </div>
            <input type="hidden" [(ngModel)]="falla.idEquipo" name="idEquipo" />
            <button type="submit" class="btn btn-primary">Enviar Reporte</button>
        </form>
    </div>
</div>