<div class="container mt-4">
    <h2 class="text-center">Agregar Nuevo Equipo</h2>
    <form (ngSubmit)="agregarEquipo()">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoEquipo.nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="text" class="form-control" id="tipo" [(ngModel)]="nuevoEquipo.tipo" name="tipo" required>
        </div>
        <div class="form-group">
            <label for="marca">Marca</label>
            <input type="text" class="form-control" id="marca" [(ngModel)]="nuevoEquipo.marca" name="marca" required>
        </div>
        <div class="form-group">
            <label for="modelo">Modelo</label>
            <input type="text" class="form-control" id="modelo" [(ngModel)]="nuevoEquipo.modelo" name="modelo" required>
        </div>
        <div class="form-group">
            <label for="serie">Número de Serie</label>
            <input type="text" class="form-control" id="serie" [(ngModel)]="nuevoEquipo.serie" name="serie" required>
        </div>
        <div class="form-group">
            <label for="fechaAdquisicion">Fecha de Adquisición</label>
            <input type="date" class="form-control" id="fechaAdquisicion" [(ngModel)]="nuevoEquipo.fechaAdquisicion"
                name="fechaAdquisicion" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" [(ngModel)]="nuevoEquipo.estado" name="estado" required>
        </div>
        <div class="form-group">
            <label for="ubicacion">Ubicación</label>
            <input type="text" class="form-control" id="ubicacion" [(ngModel)]="nuevoEquipo.ubicacion" name="ubicacion"
                required>
        </div>
        <div class="form-group">
            <label for="frecuencia">Frecuencia de Mantenimiento (días)</label>
            <input type="number" class="form-control" id="frecuencia" [(ngModel)]="nuevoEquipo.frecuencia"
                name="frecuencia" required>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" [(ngModel)]="nuevoEquipo.descripcion" name="descripcion"
                required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Equipo</button>
        <button type="button" class="btn btn-secondary" (click)="volver()">Volver</button>
    </form>
</div>