.barra {
  background: linear-gradient(90deg, #799FC2 0%, #8772D3 100%);
  display: flex;
  justify-content: space-between;
  color: white;
}

.barra .flecha{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  width: 5%;
}

.titulo-propuesta{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.contenedor{
  height: 100vh;
  background: #F0F8FF;
}

.flecha svg{
  width: 100%;
}

.ncolor2{
  background: linear-gradient(90deg, #799FC2 0%, #8772D3 100%);
  border-radius: 16px;
}
.nradius{
  border-radius: 16px;
}
.ncolor1{
  background: radial-gradient(28.22% 50% at 50% 50%, #8772D3 0%, #799FC2 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.scroll {
  max-height: 70vh;
  overflow-y: auto;
}
